# Mail
# ====================================================================
MAIL_HOST=mailhog

# Database
# ====================================================================
DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=tms_project
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_HOST=project-database-1
DATABASE_PORT=5432

# RabbitMQ
# ========================================
CELERY_BROKER_URL='amqp://rmuser:rmpassword@project-rabbitmq-1:5672'