{% extends "layout/default.html" %}

{% block page_content %}

    <section class="bg-light" id="services">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-10">
                    <h3>Виды вопросов</h3>
                </div>
            </div>
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-5">
                    <h4>Одиночный вид вопроса</h4>
                    <p>Вопрос может содержать только один правильный ответ</p>
                </div>
                <div class="col-lg-5">
                    <h4>Множественный вид вопроса</h4>
                    <p>Вопрос может содержать несколько правильных ответов</p>
                </div>
            </div>
        </div>
    </section>

{% endblock page_content %}