<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">Тесты для всех</a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/blog" class="nav-link px-2 text-white">Блог</a></li>
                <li><a href="/blog/category/news" class="nav-link px-2 text-white">Новости</a></li>
                <li><a href="/examination" class="nav-link px-2 text-white">Тесты</a></li>
                <li><a href="/page/about-us" class="nav-link px-2 text-white">О нас</a></li>
            </ul>

            <div class="text-end">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                {{ user.username }}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'my_profile' %}">Профиль</a></li>
                                <li><a class="dropdown-item" href="{% url 'my_result' %}">Мои результаты</a></li>
                                <li><a class="dropdown-item" href="{% url 'my_examination' %}">Мои тесты</a></li>
                                <li><a class="dropdown-item" href="{% url 'my_settings' %}">Настройки</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <form method="POST" action="/auth/logout/" class="m-0">
                                    {% csrf_token %}
                                    <li>
                                        <button class="dropdown-item" type="submit">Выход</button>
                                    </li>
                                </form>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-light me-2">Войти</a>
                    <a href="{% url 'register' %}" class="btn btn-warning">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
