{% include "layout/blocks/head.html" %}

{% include "layout/blocks/header.html" %}
<main role="main">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                {% block page_title %}
                    <h2>Default title</h2>
                {% endblock page_title %}

                {% if errors %}
                    <div class="alert alert-danger">
                        {% for error in errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                {% block page_content %}
                    <p>Default Content</p>
                {% endblock page_content %}
            </div>
        </div>
    </div>
</main>

{% include "layout/blocks/footer.html" %}